.card {
    height: 310px;
    width: 310px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.card-title {
    position: absolute;
    left: 0;
    width: 210px;
    padding-left: 10px;
}


p {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 576px) {
    .card {
        .card-title p {
            text-align: left;
        }
    }
}