header {
    border-bottom: 2px solid black;
}

.header {
    display: flex;
}

.logo {
    width: 10%;
}

.logo img {
    object-fit: contain;
}

.titles {
    width: 70%;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.buttons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}