.connexion-section {
    margin-top: 3.5rem;
}

.connexion-section .connexion-title {
    text-shadow: 0 1px 1px var(--color-primary);
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
    font-weight: 500;
    margin: 2rem 0 0.5rem 34rem;
}

.connexion-form {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-evenly;
    margin-left: 24rem;
    width: 30rem;
}

.connexion-form button {
    width: 50%;
    margin-left: 7rem;
}
